<!DOCTYPE html>
<html>
    <head>
        <title>Main Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
        
    </head>
    <body>
        <div class="container">
            <br>
            <h2>Main menu</h2>

            <a href="/locations">Locations</a>
            <br/>
            <a href="/customers">Customers</a>
            <br/>
            <a href="/parcels">Parcels</a>

        </div>
    </body>
</html>
